src/main/java/com/demotivirus/Day_030/resources/users.xsd

<!-- this package is autogenerated in project (soap package) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.demotivirus.com/Day_032/main/soap"
           targetNamespace="http://www.demotivirus.com/Day_032/main/soap"
           elementFormDefault="qualified">
    
    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="user_id" type="xs:int"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>